@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-family: 'roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utitlity Classes */
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section)
}
.flex {
    display: flex;
    align-items: center;
}
.hover-link {
    color: var(--primary-text-color);
    transition: .2s ease-out;
}
.hover-link:hover {
    color: var(--accent-color);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: .2s ease-out;
}
.primary-button:hover {
    background-color: var(--accent-color-dark);

}
.secondary-button {
    border: .5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
     padding: 12px 24px;
     transition: .2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/* Utitlity Classes */


/* Top Banner */
.top-banner {
    background-color: #4fb3d4;
}
.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/* Top Banner */


/* ---------- Nav Bar Start ---------- */
.main-nav {
    margin-top: 20px;
    justify-content: space-between;

}
.company-logo img {
    width: 200px;
}
.nav-links ul {
    justify-content: end;
    gap: 40px;
}
.nav-links {
    flex-basis: 730px;
}

/* ---------- Nav Bar End ---------- */



/* ---------- Header Start ---------- */
    header {
        padding: 50px var(--padding-inline-section);
    }
.header-section {
    justify-content: center;
    gap: 50px;
}
.header-left {
    max-width: 40vw;
}
.header-left h1 {
    margin-top: 30px;
}
.header-right img {
    width: 600px;
}
.get-started-button {
    margin-top: 20px;
}

/* ---------- Header End ---------- */


/* ---------- Companies Logos Section Start ---------- */
.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    height: 46px;
}

/* ---------- Companies Logos Section End ---------- */

/* ---------- Features Sections Start ---------- */
.features-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/);
}
.features-header {
    text-align: center;
}
.features-heading-text {
    margin-bottom: 20px;
}
.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}
.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
/* ---------- Features Sections End ---------- */



/* ---------- Big-Features Sections Start ---------- */
.big-feature-section {
    padding: 30px var(--padding-inline-section);
}
.big-feature-container {
    gap: 30px;
}
.feature-img img {
    width: 100%;
}
.feature-desc {
    flex-direction: column;
    align-items: flex-start;
}

/* ---------- Big-Features Sections End ---------- */


/* ---------- Examples Sections Start ---------- */
.examples-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/);
}
.examples-header {
    /* text-align: center; */
    flex-direction: column;
    gap: 20px;
}
.examples-card {
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 20.jpeg);
    background-size: cover;
    transition: .2s ease-out;
}
.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.examples-area {
    justify-content: space-between;
    margin-block: 30px;
}
.examples-card:nth-child(3) {
     background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 22.jpeg);
     background-size: cover;
}
.examples-card:nth-child(4) {
     background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.8)), url(./assets/asset\ 22.jpeg);
     background-size: cover;
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
}
/* ---------- Examples Sections End ---------- */

/* CTA Section Start */
.cta-section-container {
    flex-direction: column;
    gap: 30px;
    color: white;
}
.cta-section {
    padding: 120px var(--padding-inline-section);
    background-color: #183b54;
}
.cta-section-container p {
    color: white;
    margin-top: 30px ;
}
/* CTA Section End */

/* Footer Start */
footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}
.company-logo img {
    width: 200px;
}

/* Footer End */